.cover-about {
  width: 100%;
  color: #E35200;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover-about-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cover-about-desc h2 {
  text-align: center;
  transform: rotate(-7deg);
  margin-top: 22px;
  z-index: 99;
}

@media screen and (min-width: 460px) { 
  .cover-about-desc {
    margin-top: 25vh;
  }

  .cover-about-desc img {
    width: 250px;
  }
  
  .cover-about-desc h2 {
    font-size: 80px;
  }
}

@media screen and (max-width: 460px) { 
  .cover-about-desc {
    margin-top: 20vh;
  }

  .cover-about-desc img {
    width: 200px;
  }
  
  .cover-about-desc h2 {
    font-size: 38px;
  }
}


/* ------------------------- CAROUSEL ---------------------------- */

.carousel {
  display: flex;
  align-items: center;
  width: 100%;
}

.carousel__list {
  display: flex;
  justify-content: center;
  list-style: none;
  position: relative;
  width: 100%;
  perspective: 300px;
}
  
.carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all .3s ease-in;
}
    
.carousel__item:nth-child(1) {
  background-image: url("../img/a-int-1.jpg");
  background-size: auto 100%;
  object-fit: cover;
}

.carousel__item:nth-child(2) {
  background-image: url("../img/a-team.jpg");
  background-size: auto 100%;
  object-fit: cover;
}

.carousel__item:nth-child(3) {
  background-image: url("../img/a-pizza.jpg");
  background-size: auto 100%;
  object-fit: cover;
}

.carousel__item:nth-child(4) {
  background-image: url("../img/a-table.jpg");
  background-size: auto 100%;
  object-fit: cover;
}

.carousel__item:nth-child(5) {
  background-image: url("../img/a-int-2.jpg");
  background-size: auto 100%;
  object-fit: cover;
}

.carousel__item:nth-child(6) {
  background-image: url("../img/a-bird.jpg");
  background-size: auto 100%;
  object-fit: cover;
}

.carousel__item:nth-child(7) {
  background-image: url("../img/a-wine.jpg");
  background-size: auto 100%;
  object-fit: cover;
}
  
.carousel__item[data-pos="0"] {
  z-index: 5;
}

.carousel__item[data-pos="-1"] {
  transform: translateX(-100%) scale(.9);
  cursor: pointer;
  z-index: 4;
}

.carousel__item[data-pos="1"] {
  transform: translateX(100%) scale(.9);
  cursor: pointer;
  z-index: 4;
}

.carousel__item[data-pos="-2"] {
  transform: translateX(-170%) scale(.8);
  cursor: pointer;
  z-index: 3;
}

.carousel__item[data-pos="2"] {
  transform: translateX(170%) scale(.8);
  cursor: pointer;
  z-index: 3;
}

.carousel__item[data-pos="-3"],
.carousel__item[data-pos="3"] {
  opacity: 0;
}

.carousel__item[data-pos="-3"] {
  transform: translateX(-210%) scale(.6);
  cursor: pointer;
  z-index: 2;
}

.carousel__item[data-pos="3"] {
  transform: translateX(210%) scale(.6);
  cursor: pointer;
  z-index: 2;
}

@media screen and (min-width: 460px) { 
  .carousel {
    margin-top: -15px;
  }

  .carousel__list {
    height: 70vh;
  }

  .carousel__item {
    width: 26%;
    height: 74vh;
  }
}

@media screen and (max-width: 460px) { 
  .carousel {
    margin-top: 40px;
  }

  .carousel__list {
    height: 38vh;
    max-width: 100vw;
  }
  
  .carousel__item {
    width: 50%;
    height: 40vh;
  }

  ul {
    padding: 0;
  }
}

/* ----------------------------------------- */


.about-greet {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #E35200;
  text-align: center;
  text-align: center;
  width: 100%;
}

.about-greet-text {
  position: relative;
}

.about-greet p {
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.about-greet img {
  object-fit: cover;
  z-index: 10;
  position: absolute;
  top: 0;
}

a.wave {  
  color: #E35200;
  font-size: 16px;
  font-family: 'StyreneAWeb-Bold';
  text-decoration-style: solid !important;
  transition: .3s;

  background: linear-gradient(to bottom, #E35200 0%, #E35200 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 1px 2px;
  padding-bottom: 5px;
}

a.wave:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .5s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='tomato' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 4px;
  background-repeat: repeat-x;
  text-decoration: none;
  transition: .3s;
}


@media screen and (min-width: 460px) { 
  .about-greet {
    margin: 140px 0 130px 0;
  }

  .about-greet-text {
    width: 48%;
  }
  
  .about-greet h1 {
    padding-top: 95px;
    font-size: 56px;
  }
  
  .about-greet p {
    font-size: 17px;
    margin-bottom: 25px;
  }

  .about-greet img {
    width: 105px;
    left: 43%;
    animation: rot-sun 0.5s linear both;
    animation-timeline: scroll(root);
    rotate: 240deg;
  }
}

@media screen and (max-width: 460px) { 
  .about-greet {
    margin: 90px 0 80px 0;
  }

  .about-greet-text {
    width: 100%;
  }
  
  .about-greet h1 {
    padding-top: 120px;
    font-size: 34px;
    margin-bottom: 20px;
  }
  
  .about-greet p {
    font-size: 16px;
    margin-bottom: 25px;
  }

  .about-greet img {
    width: 95px;
    left: 36%;
    animation: 20s linear 0s normal none infinite running rot-sun;
    -webkit-animation: 20s linear 0s normal none infinite running rot-sun;
  }
}

/* ---------------------------------------- */

.about-block {
  display: flex;
  align-items: center;
  width: 100%;
}

.about-block-img {
  position: relative;
  display: flex;
  align-items: center;
}

img.about-block-1 {
  object-fit: cover;
}

img.about-block-2 {
  position: absolute;
  object-fit: cover;  
}


@keyframes a-move {
0% {
  transform: translateY(var(--origin, 0%));
}
100% {
  transform: translateY(var(--destination, -140%));
}
}

.about-block-text-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-block-text {
  color: #E35200;
}

.about-block-text p {
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.about-block-text a {
  border: 1px solid #E35200;
  color: #E35200;
  font-size: 16px;
  font-family: 'StyreneAWeb-Medium';
}

.about-block-text a:hover {
  text-decoration: none;
  background-color: #E35200;
  color: #F5F2EB;
}


@media screen and (min-width: 460px) { 
  .about-block {
    flex-direction: row;
    justify-content: space-between;
    height: 110vh;
  }

  .about-block-img {
    width: 45%;
    height: 100%;
  }
  
  img.about-block-1 {
    width: 70%;
    height: 90vh;
  }
  
  img.about-block-2 {
    width: 330px;
    height: 330px;
    bottom: -180px;
    right: 0;
    animation: a-move 1s linear both;
    animation-timeline: scroll(root);
  }

  .about-block-text-cont {
    width: 55%;
  }
  
  .about-block-text {
    width: 70%;
  }
  
  .about-block-text h1 {
    font-size: 42px;
  }
  
  .about-block-text p {
    font-size: 16px;
    margin: 25px 0 40px 0;
  }

  .about-block-text a {
    padding: 7px 24px 10px 24px;
  }
}

@media screen and (max-width: 460px) { 
  .about-block {
    flex-direction: column;
  }

  .about-block-img {
    width: 100%;
    height: 100%;
  }
  
  img.about-block-1 {
    width: 70%;
    height: 50vh;
  }
  
  img.about-block-2 {
    width: 170px;
    height: 170px;
    top: 30vh;
    right: 0;
  }

  .about-block-text-cont {
    width: 100%;
    text-align: center;
  }
  
  .about-block-text {
    width: 100%;
  }
  
  .about-block-text h1 {
    font-size: 32px;
    padding-top: 80px;
  }
  
  .about-block-text p {
    font-size: 16px;
    margin: 25px 0 40px 0;
  }

  .about-block-text a {
    width: 100%;
    display: block;
    padding: 11px 0;
  }
}

/* ------------------------------------------ */

.about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #E35200;
}

.about-info-text {
  width: 100%;
}

.about-info-text h3 {
  font-size: 15px;
  font-family: 'StyreneAWeb-Regular';
  margin-top: 0;
}

.ait-cont {
  line-height: 1.2;
  letter-spacing: -0.02em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

a.ait-wave {  
  color: #E35200;
  font-size: 17px;
  font-family: 'StyreneAWeb-Regular';
  text-decoration-style: solid !important;
  transition: .3s;

  background: linear-gradient(to bottom, #E35200 0%, #E35200 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 1px 1.5px;
  padding-bottom: 5px;
  margin-top: 10px;
}

a.ait-wave:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .5s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='tomato' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 4px;
  background-repeat: repeat-x;
  text-decoration: none;
  transition: .3s;
}


@media screen and (min-width: 460px) { 
  .about-info {
    margin: 110px 0 130px 0;
  }

  .about-info h1 {
    font-size: 40px;
    width: 95%;
    margin-bottom: 80px;
    text-align: center;
  }
  
  .about-info-text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .about-info-text h3 {
    width: 16%;
    margin-top: 0;
  }
  
  .ait-cont {
    width: 42%;
    padding-right: 6%;
    font-size: 17px;
  }
}

@media screen and (max-width: 460px) { 
  .about-info {
    margin: 50px 0 80px 0;
  }

  .about-info h1 {
    font-size: 30px;
    width: 100%;
    margin-bottom: 30px;
    text-align: start;
  }
  
  .about-info-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .about-info-text h3 {
    display: none;
  }
  
  .ait-cont {
    width: 100%;
    font-size: 16px;
  }

  
  .ait-cont p {
    margin-bottom: 25px;
  }
}


/* ----------------------------------------- */

.about-imgs {
  width: 100%;
}

.about-imgs img {
  width: 100%;
  object-fit: cover;
}


@media screen and (min-width: 460px) { 
  .about-imgs-mob {
    display: none;
  }

  .about-imgs {
    display: grid;
    grid-template-columns: auto 33% auto;
    column-gap: 15px;
  }

  .about-imgs video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .about-imgs img {
    height: 100vh;
  }
}

@media screen and (max-width: 460px) { 
  .about-imgs-mob {
    width: 100%;
    margin-top: 80px;
  }

  .about-imgs-mob img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }

  .about-imgs {
    display: none;
  }
}