@import "https://unpkg.com/normalize.css";

@font-face {
    font-family: 'StyreneAWeb-Bold';
    src: url(../fonts/StyreneAWeb-Bold.woff) format('woff');
}

@font-face {
    font-family: 'StyreneAWeb-BoldItalic';
    src: url(../fonts/StyreneAWeb-BoldItalic.woff) format('woff');
}

@font-face {
    font-family: 'StyreneAWeb-Medium';
    src: url(../fonts/StyreneAWeb-Medium.woff) format('woff');
}

@font-face {
    font-family: 'StyreneAWeb-MediumItalic';
    src: url(../fonts/StyreneAWeb-MediumItalic.woff) format('woff');
}

@font-face {
    font-family: 'StyreneAWeb-Regular';
    src: url(../fonts/StyreneAWeb-Regular.woff) format('woff');
}

body {
    background-color: #F5F2EB;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #e9e5de;
    opacity: .2;
}

::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff8153;
    transition: .3;
}

::selection {
    background: #ff8153;
}

h1 {
    font-family: 'StyreneAWeb-Medium';
    /* letter-spacing: -0.02em; */
    /* line-height: 0.6; */
    /* font-variant-caps: all-petite-caps; */
    line-height: 1;
}

h2 {
    font-family: 'StyreneAWeb-MediumItalic';
    line-height: 1;
}

h3 {
    font-family: 'StyreneAWeb-Bold';
    line-height: 1;
}

h4 {
    font-family: 'StyreneAWeb-BoldItalic';
    line-height: 1;
}

p, a, li {
    font-family: 'StyreneAWeb-Regular';
    /* letter-spacing: -.03em; */
    line-height: 1.2;
}

a {
    transition: .5s;
}

.so-row {
    padding: 0 20px 0 20px;
}

.topnav {
    width: 100vw;
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    position: absolute;
}

.nav-img {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 0;
    top: 30px;
    padding-right: 30px;
}

.topnav img {
    width: 170px;
}

.navlist {
    z-index: 1;
}

.navlist a {
    color: #F5F2EB;
    font-variant-caps: all-petite-caps;
    text-decoration: none;
    font-size: 20px;
    margin-right: 25px;
}

.nav-book {
    color: #F5F2EB;
    font-variant-caps: all-petite-caps;
    font-size: 20px;
    margin-right: 10px;
    text-decoration: 2px solid #F5F2EB;
    z-index: 1;
}

.topnav a:hover {
    color: #F5F2EB;
}

.greet {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.greet video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: absolute;
}

.greet-cont {
    width: 70%;
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.greet-cont-top {
    width: 230px;
    user-select: none;
}

.greet h2 {
    color: #F5F2EB;
    font-size: 100px;
    font-variant-caps: all-petite-caps;
    text-align: center;
    transform: rotate(-7deg);
    margin-bottom: 7vh;
}

img.greet-round-img {
    animation: 8s linear 0s normal none infinite running rot;
    -webkit-animation: 8s linear 0s normal none infinite running rot;
    width: 115px;
    user-select: none;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}