@import "https://unpkg.com/normalize.css";

@font-face {
    font-family: 'StyreneAWeb-Bold';
    src: url(../fonts/StyreneAWeb-Bold.woff) format('woff');
}

@font-face {
    font-family: 'StyreneAWeb-BoldItalic';
    src: url(../fonts/StyreneAWeb-BoldItalic.woff) format('woff');
}

@font-face {
    font-family: 'StyreneAWeb-Medium';
    src: url(../fonts/StyreneAWeb-Medium.woff) format('woff');
}

@font-face {
    font-family: 'StyreneAWeb-MediumItalic';
    src: url(../fonts/StyreneAWeb-MediumItalic.woff) format('woff');
}

@font-face {
    font-family: 'StyreneAWeb-Regular';
    src: url(../fonts/StyreneAWeb-Regular.woff) format('woff');
}

body {
    background-color: #F5F2EB;
    overflow-x: hidden !important;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #e9e5de;
    opacity: .2;
}

::-webkit-scrollbar-thumb {
    background: #acacac;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff8153;
    transition: .3;
}

::selection {
    background: #ff8153;
}

h1 {
    font-family: 'StyreneAWeb-Medium';
    line-height: 1;
}

h2 {
    font-family: 'StyreneAWeb-MediumItalic';
    line-height: 1;
}

h3 {
    font-family: 'StyreneAWeb-Bold';
    line-height: 1;
}

h4 {
    font-family: 'StyreneAWeb-BoldItalic';
    line-height: 1;
}

p, a, li {
    font-family: 'StyreneAWeb-Regular';
    /* letter-spacing: -.03em; */
    line-height: 1.2;
}

a {
    transition: .3s;
}

a:hover {
    text-decoration: none;
}

.so-row {
    padding: 0 30px;
}


/* ------------------------------------ NAVBAR ----------------------------------- */

.topnav {
    width: 100vw;
    height: 125px;
    z-index: 2;
    position: absolute;
}

.navlist {
    width: 30%;
}

.navlist a {
    color: #F5F2EB;
    font-variant-caps: all-petite-caps;
    text-decoration: none;
    font-size: 20px;
    padding-right: 30px;
    text-align: end;
}

.nav-book {
    color: #F5F2EB;
    font-variant-caps: all-petite-caps;
    font-size: 20px;
    text-decoration: 2px solid #F5F2EB;
    text-align: end;
}

.topnav a:hover {
    color: #F5F2EB;
    opacity: .7;
}

@media screen and (min-width: 460px) {   
    .nav-img {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-img img {
        width: 170px;
    }

    .nav-book {
        width: 30%;
    }
  
    .topnav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .topnav-mob {
        display: none;
    }
}

@media screen and (max-width: 460px) {
    .nav-img {
        margin: auto;
        z-index: 100;
    }

    .nav-img img {
        width: 140px;
    }

    .topnav {
        display: none;
    }

    .topnav-mob {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        padding-top: 30px;
        width: 100%;
        z-index: 10;
    }

    .navlist {
        background-color: #431100;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 110px 0 50px 0;
    }

    .navlist-not-main {
        background-color: #F5F2EB !important;
    }

    .navlist a {
        padding: 10px;
        text-align: center;
        font-size: 24px;
        color: #e9e5de;
        text-decoration: none;
        display: block;
    }
      
    .topnav-mob #myLinks {
        display: none;
    }
    
    .topnav-mob a.icon {
        display: block;
        top: 0;
        z-index: 100;
    }

    .icon, .nav-book {
        width: 25%;
    }

    a.nav-book {
        text-align: end !important;
    }

    @supports (-webkit-touch-callout: none) {
        a.nav-book {
            text-align: end;
        }
    }
}

/* -------------------------------- FIXED NAVBAR ----------------------------- */

#navbar {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.topnav-fixed {
    background-color: #F5F2EB;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 80px;
    z-index: 101;
}

.nav-fixed-links {
    width: 30%;
}

.nav-fixed-links a {
    padding-right: 30px;
}

.topnav-fixed a {
    float: left;
    color: #E35200;
    text-decoration: none;
    font-size: 17px;
    font-variant-caps: all-petite-caps;
    font-family: 'StyreneAWeb-Medium';
    font-size: 20px;
}

.nav-fixed-img {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-fixed-img img {
    width: 130px;
}

.nav-fixed-book {
    width: 30%;
    text-align: end;
}

.topnav-fixed a:hover {
    opacity: 0.55;
}


@media screen and (min-width: 460px) {  
    .iconfix, .nav-fixed-book-m, .book-mobile {
        display: none;
    }
}

@media screen and (max-width: 460px) {  
    .nav-fixed-book {
        display: none;
    }

    .topnav-fixed #myLinksFix {
        display: none;
    }

    .iconfix {
        z-index: 100;
    }
    
    .iconfix, .nav-fixed-book-m {
        width: 25%;
    }
    
    .nav-fixed-book-m {
        text-align: end;
    }

    .nav-fixed-links {
        background-color: #F5F2EB;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        padding: 110px 0 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-fixed-links a {
        padding: 10px;
        text-align: center;
        font-size: 24px;
        text-decoration: none;
    }

    .nav-fixed-img {
        z-index: 100;
        margin: auto;
    }
    
    .nav-fixed-img img {
        width: 120px;
    }
}

/* ------------------------------------ MAIN PAGE ------------------------------- */
.greet {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0000003e;
}

.greet-cont {
    width: 70%;
    margin-top: 9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.greet-cont-top {
    user-select: none;
}

.greet h2 {
    color: #F5F2EB;
    font-variant-caps: all-petite-caps;
    text-align: center;
}

img.greet-round-img {
    animation: 8s linear 0s normal none infinite running rot;
    -webkit-animation: 8s linear 0s normal none infinite running rot;
    user-select: none;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 460px) {
    .greet h2 {
        font-size: 100px;
        transform: rotate(-7deg);
        margin: 22px 0 8vh 0;
    }

    .greet-cont-top {
        width: 230px;
    }
    
    .greet video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        position: absolute;
    }

    .greet-back {
        display: none;
    }

    img.greet-round-img {
        width: 115px;
    }
}

@media screen and (max-width: 460px) {
    .greet h2 {
        font-size: 72px;
        line-height: .85;
        /* transform: rotate(-4deg); */
        margin: 20px 0 30px 0;
    }

    .greet-cont-top {
        width: 180px;
    }

    .greet-back {
        height: 100vh;
        width: 100%;
        object-fit: cover;
        z-index: -1;
        position: absolute;
        top: 0;
    }

    .greet video {
        display: none;
    }
    
    img.greet-round-img {
        width: 100px;
    }
}

.main-pics {
    width: 100%;
    color: #E35200;
}

.main-pics h1 {
    width: 100%;
    text-align: center;
    font-variant-caps: all-petite-caps;
    z-index: 2;
}

img.img-1 {
    object-fit: cover;
    z-index: -1;
    position: absolute;
}

video.img-2 {
    object-fit: cover;
    z-index: 1;
    position: absolute;
	animation: scale2 0.5s linear both;
	animation-timeline: scroll(root);
    background-color: #901c1c41;
}

img.img-3 {
    object-fit: cover;
    z-index: -2;
    position: absolute;
	animation: scale3 0.5s linear both;
	animation-timeline: scroll(root);
}

img.img-4 {
    object-fit: cover;
    z-index: -1;
    position: absolute;
	animation: scale4 0.5s linear both;
	animation-timeline: scroll(root);
}

img.img-sun {
    width: 120px;
    object-fit: cover;
    z-index: 10;
    position: absolute;
}

@keyframes scale1 {
	0% {
		transform: translateY(var(--origin, 0%));
	}
	100% {
		transform: translateY(var(--destination, -40%));
	}
}

@keyframes scale2 {
	0% {
		transform: translateY(var(--origin, 0%));
	}
	100% {
		transform: translateY(var(--destination, -60%));
	}
}

@keyframes scale3 {
    0% {
        transform: translateY(var(--origin, 0%));
    }
    100% {
        transform: translateY(var(--destination, 20%));
    }
}

@keyframes scale4 {
	0% {
		transform: translateY(var(--origin, 0%));
	}
	100% {
		transform: translateY(var(--destination, -120%));
	}
}

@keyframes rot-sun {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(630deg);
    }
}

@-webkit-keyframes rot-sun {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(630deg);
    }
}


@media screen and (min-width: 460px) {    
    .main-pics h1 {
        font-size: 52px;
        margin-top: 70px;
    }

    .img-cont {
        position: relative;
        min-height: 188vh;
    }

    img.img-1 {
        width: 22vw;
        height: 57vh;
        top: -60px;
        left: 38%;
    }
    
    video.img-2 {
        width: 37vw;
        height: 95vh;
        top: 55vh;
        left: 30px;
    }
    
    img.img-3 {
        width: 39vw;
        top: 48vh;
        right: 30px;
    }
    
    img.img-4 {
        width: 26vw;
        height: 72vh;
        top: 134vh;
        right: 25%;
    }
    
    img.img-sun {
        width: 120px;
        top: 130vh;
        right: 18%;
        animation: rot-sun 0.5s linear both;
        animation-timeline: scroll(root);
    }
}

@media screen and (max-width: 460px) {    
    .main-pics .so-row {
        padding: 0 20px;
    }

    .main-pics h1 {
        font-size: 35px;
        margin-top: 60px;
    }

    .img-cont {
        position: relative;
        min-height: 90vh;
    }

    img.img-1 {
        width: 50vw;
        height: 32vh;
        top: -30px;
        left: 20%;
    }
    
    video.img-2 {
        display: none;
    }
    
    img.img-3 {
        width: 52vw;
        top: 30vh;
        right: 0;
    }
    
    img.img-4 {
        width: 55vw;
        height: 40vh;
        top: 25vh;
    }
    
    img.img-sun {
        width: 110px;
        top: 62vh;
        left: 35%;
        animation: 20s linear 0s normal none infinite running rot-sun;
        -webkit-animation: 20s linear 0s normal none infinite running rot-sun;
    }
    
    @keyframes scale4 {
        0% {
            transform: translateY(var(--origin, 0%));
        }
        100% {
            transform: translateY(var(--destination, 0%));
        }
    }
}


.about-main {
    width: 100%;
    background-color: #FFAD0F;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #882100;
}

.about-main-cont {
    position: relative;
    height: 85%;
    width: 100%;
}

.about-main-text p {
    padding-bottom: 8px;
}

.about-main-text a {
    font-variant-caps: all-petite-caps;
    color: #882100;
    font-size: 18px;
    font-family: 'StyreneAWeb-Bold';
    text-decoration-style: solid !important;
    transition: .3s;

    background: linear-gradient(to bottom, brown 0%, brown 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1px 2px;
    padding-bottom: 5px;
}
  
.about-main-text a:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .5s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='brown' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 4px;
    background-repeat: repeat-x;
    text-decoration: none;
    transition: .3s;
}

@media screen and (min-width: 460px) {  
    .about-main {
        height: 110vh;
    }

    img.bw-1 {
        width: 38%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }
    
    img.bw-2 {
        width: 14%;
        object-fit: cover;
        position: absolute;
        top: 0;
        right: 19%;
    }
    
    img.bw-3 {
        width: 17%;
        object-fit: cover;
        position: absolute;
        bottom: 0;
        right: 20px;
    }
    
    .year {
        position: absolute;
        right: 20px;
        z-index: 100;
    }
    
    .about-main h2 {
        width: 40%;
        font-size: 132px;
        text-align: end;
        position: absolute;
        left: 23%;
        z-index: 100;
        font-variant-caps: all-petite-caps;
        line-height: .78;
        letter-spacing: -4px;
    }
    
    .about-main-text {
        width: 25%;
        position: absolute;
        left: 48%;
        top: 72%;
        z-index: 100;
        font-size: 16px;
    }
}

@media screen and (max-width: 460px) {  
    .about-main {
        height: 115vh;
    }

    img.bw-1 {
        width: 45%;
        height: 35vh;
        object-fit: cover;
        position: absolute;
        top: 40px;
        left: 30px;
    }
    
    img.bw-2 {
        display: none;
    }
    
    img.bw-3 {
        width: 35%;
        object-fit: cover;
        position: absolute;
        top: 0;
        right: 30px;
    }
    
    .year {
        position: absolute;
        top: 0;
        left: 30px;
        z-index: 100;
    }
    
    .about-main h2 {
        font-size: 76px;
        text-align: center;
        position: absolute;
        z-index: 100;
        left: 0;
        top: 32vh;
        font-variant-caps: all-petite-caps;
        line-height: .8;
        letter-spacing: -4px;
    }
    
    .about-main-text {
        width: 100%;
        text-align: center;
        position: absolute;
        left: 0;
        top: 74vh;
        z-index: 100;
        font-size: 15px;
        padding: 0 30px;
    }
}


.main-menu {
    width: 100%;
    padding: 11vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #E35200;
}

.main-menu img {
    width: 135px;
}

.main-menu h3 {
    font-variant-caps: all-petite-caps;
    font-size: 48px;
    margin: 10px auto 20px auto;
    line-height: .95;
    text-align: center;
}

.main-menu p {
    font-size: 16px;
}

.main-menu-img-cont {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#00000000,#00000062);
    width: 100%;
    height: 100%;
    transition: .5s ease;
}

.ov-text {
    color: #f7f4ef;
    position: absolute;
    bottom: 8%;
    left: 4%;
}

img.fresco {
    object-fit: cover;
    z-index: 10;
    position: absolute;
}


@media screen and (min-width: 460px) { 
    .main-menu-img {
        width: 100vw;
        display: grid;
        grid-template-columns: auto 50%;
        column-gap: 10px;
        position: relative;
        padding: 0 30px;
    }
    
    .main-menu-img img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    .ov-text h2 {
        font-size: 90px;
        font-variant-caps: all-petite-caps;
        margin-bottom: 15px;
        width: 100%;
    }
    
    .ov-text p {
        font-size: 18px;
        display: none;
        transition: .5s ease;
    } 
    
    .overlay:hover .ov-text p {
        display: block;
        transition: .5s ease;
    }

    img.fresco {
        width: 120px !important;
        height: 120px !important;
        top: -50px;
        left: 80px;
        animation: rot-sun 2s linear both;
        animation-timeline: scroll(root);
    }
}

@media screen and (max-width: 460px) { 
    .main-menu {
        padding: 60px 30px 70px 30px;
    }

    .main-menu-img {
        width: 100vw;
        display: grid;
        grid-template-columns: auto;
        row-gap: 10px;
        position: relative;
        padding: 0 10px;
    }
    
    .main-menu-img img {
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }

    .ov-text h2 {
        font-size: 55px;
        font-variant-caps: all-petite-caps;
        margin-bottom: 15px;
        width: 100%;
    }
    
    .ov-text p {
        display: block;
        font-size: 16px;
    }

    
    img.fresco {
        width: 100px !important;
        height: 100px !important;
        top: -50px;
        left: 40px;
        animation: rot-sun 20s linear both;
        animation-timeline: scroll(root);
    }
}


.book {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #E35200;
}

.book-h {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.book-h h3 {
    font-variant-caps: all-petite-caps;
    margin: 10px auto 20px auto;
    line-height: .95;
}

.book-h p {
    font-size: 16px;
    line-height: 1.4;
}

.book form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.book-inp {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.book-inp label, .book-time label {
    font-family: 'StyreneAWeb-Regular';
    font-size: 16px;
}

.book-inp input {
    background-color: #F5F2EB;
    color: #E35200;
    border: none;
    border-bottom: 1px solid #E35200;
    padding: 15px 10px;
    width: 100%;
    -webkit-appearance: none;
}

.book-inp input::placeholder {
    color: #E35200;
    opacity: .6;
}

.book-inp input:focus{
    outline: none;
}

input[type="date"] {
    color: #E35200;
    -webkit-appearance: none;
}

input.submit {
    padding: 15px 30px;
    border: 1px solid #E35200;
    color: #E35200;
    background-color: #F5F2EB;
    font-family: 'StyreneAWeb-Medium';
    transition: .5s;
    -webkit-appearance: none;
}

input.submit:hover {
    background-color: #E35200;
    color: #F5F2EB;
}

p.book-polit {
    color: #E35200;
    opacity: .7;
    text-align: center;
    font-size: 14px;
    line-height: 1.4;
}

.book-polit a {
    color: #E35200;
    padding-bottom: 2px;
}

.book-polit a:hover {
    text-decoration: none;
    opacity: .7;
}

.book-time {
    display: flex;
    flex-direction: column;
}

.book-time-select {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.book-time select {
    border: none;
    padding: 15px 10px;
    border-bottom: 1px solid #E35200;
    background-color: #F5F2EB;
    width: 100%;
}

.book-time select:focus{
    outline: none;
}

select {
    /* -webkit-appearance: none;
    -moz-appearance: none; */
    text-indent: 1px;
    text-overflow: '';
}

.book-time option {
    padding: 15px ;
}


@media screen and (min-width: 460px) { 
    .book {
        margin-bottom: 100px;
    }

    .book-h {
        width: 100%;
        padding: 11vh 0 10vh 0;
        text-align: center;
    }
    
    .book-h h3 {
        font-size: 48px;
    }

    .form-row {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: #E35200;
    }

    .book-inp, .book-time {
        margin: 0 10px;
    }

    .book-time {
        width: 80%;
    }
    
    .book-time p {
        margin: 0 10px;
    }

    p.book-polit {
        margin-top: 50px;
    }
    
    input.submit {
        margin-top: 50px;
    }
}

@media screen and (max-width: 460px) { 
    .book {
        padding: 0 30px;
        margin-bottom: 80px;
    }

    .book-h {
        margin: 50px auto 40px auto;
    }
    
    .book-h h3 {
        font-size: 44px;
        text-align: center;
    }

    .book-h p {
        text-align: center;
    }
    
    .form-row {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: #E35200;
    }

    .book-time-select p {
        padding: 0 10px;
    }

    
    input[type="date"] {
        width: 100% !important;
    }
    
    p.book-polit {
        margin-top: 40px;
    }

    .book-inp, .book-time {
        margin-top: 20px;
    }

    input.submit {
        margin-top: 40px;
        min-width: 330px;
        border-radius: 0 !important;
    }
}


/* -------------------------- FOOTER ------------------------------ */

.map {
    width: 100%;
    border: none;
}

.map iframe {
    width: 100%;
    height: 100%;
    border: none;
    filter: sepia(25%) brightness(96%);
}

footer {
    width: 100%;
    height: 100vh;
    background-image: url("../img/foo-2.png");
    background-size: auto 100%;
    display: flex;
    align-items: center;
    justify-content: center;
	animation: foo 0.5s linear both;
	animation-timeline: scroll(root);
}

.foo-top, .foo-bot {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #E35200;
}

.foo-top p, .foo-top a {
    font-family: 'StyreneAWeb-Bold';
    font-variant-caps: all-petite-caps;
    line-height: 1;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    display: none;
    height: 100vh;
}

.foo-cont {
    width: 87%;
    height: 83%;
    background-color: #F5F2EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.foo-cont a {
    color: #E35200;
}

.foo-cont a:hover {
    opacity: 0.55;
}

@media screen and (min-width: 460px) { 
    .map {
        height: 45vh;
    }

    .foo-top, .foo-bot {
        padding: 40px 75px;
    }

    .foo-top, .foo-bot {
        flex-direction: row;
    }
    
    .foo-top {
        align-items: flex-start;
    }
    
    .foo-bot {
        align-items: flex-end;
    }
    
    .foo-left {
        width: 30%;
        font-size: 18px;
    }
    
    .foo-center {
        width: 30%;
        text-align: center;
        font-size: 32px;
    }
    
    .foo-right {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: end;
        font-size: 18px;
    }
    
    .foo-cont img {
        align-content: center;
        width: 220px;
    }
    
    .foo-menu {
        width: 30%;
        display: flex;
        flex-direction: column;
        font-variant-caps: all-petite-caps;
        font-size: 18px;
    }
    
    .foo-menu a, .foo-links a {
        margin: 0;
        font-family: 'StyreneAWeb-Bold';
    }
    
    .foo-links a {
        margin: 0;
        line-height: 1.05;
        font-family: 'StyreneAWeb-Bold';
    }
    
    .foo-links {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-variant-caps: all-petite-caps;
        font-size: 25px;
    }
    
    .foo-soc {
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .foo-soc img {
        width: 32px;
        margin-left: 15px;
    }
}

@media screen and (max-width: 460px) { 
    .map {
        height: 35vh;
    }
    
    .foo-top, .foo-bot {
        padding: 20px;
        flex-direction: column;
        align-items: center;
    }

    footer {
        flex-direction: column;
        text-align: center;
        position: relative;
    }
    
    .foo-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        position: absolute;
        margin: auto;
        top: 25%;
    }
    
    .foo-center {
        display: none;
    }
    
    .foo-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        opacity: .6;
        position: absolute;
        margin: auto;
        bottom: 11%;
    }
    
    .foo-logo {
        align-content: center;
        width: 145px;
        position: absolute;
        top: 13%;
    }
    
    .foo-menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-variant-caps: all-petite-caps;
        font-size: 20px;
        position: absolute;
        top: 52%;
    }
    
    .foo-menu a, .foo-links a {
        margin: 0;
        padding: 4px 0;
        font-family: 'StyreneAWeb-Bold';
    }
    
    .foo-links a {
        margin: 0;
        line-height: 1.05;
        font-family: 'StyreneAWeb-Bold';
    }
    
    .foo-links {
        width: 100%;
        font-variant-caps: all-petite-caps;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 33%;
    }
    
    .foo-soc {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        top: 44.4%;
    }
    
    .foo-soc img {
        width: 40px;
        margin-left: 15px;
    }
}


/* ------------------------------ NOT MAIN HEADER ------------------------------ */

.not-main a, a.not-main {
    color: #E35200 !important;
    font-family: 'StyreneAWeb-Medium';
}

.not-main img svg{
    fill: #E35200 !important;
}

.not-main a:hover, a.not-main:hover {
    color: #E35200 !important;
}

/* -------------------------------- MENU PAGE ------------------------------------------- */

.cover {
    width: 100%;
    height: 100vh;
    background-color: #00000079;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cover-desc {
    color: #F5F2EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover-desc h2 {
    text-align: center;
    font-variant-caps: all-petite-caps;
    transform: rotate(-7deg);
    line-height: .85;
}

.cover-desc a:hover {
    background-color: #F5F2EB;
    color: #E35200;
    text-decoration: none;
}

img.cover-back {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

@media screen and (min-width: 460px) { 
    .cover-desk {
        width: 70%;
    }

    .cover-desc h2 {
        font-size: 180px;
    }
    
    .cover-buttons {
        margin-top: 110px;
    }

    .cover-desc a {
        font-size: 20px;
        color: #F5F2EB;
        border: 1px solid #F5F2EB;
        padding: 8px 18px;
        font-variant-caps: all-petite-caps;
        font-family: 'StyreneAWeb-Medium';
        margin: 0 6px;
    }
}

@media screen and (max-width: 460px) { 
    .cover-desc {
        width: 100%;
    }

    .cover-desc h2 {
        font-size: 110px;
    }
    
    .cover-buttons {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cover-desc a {
        font-size: 20px;
        text-align: center;
        min-width: 320px;
        color: #F5F2EB;
        border: 1px solid #F5F2EB;
        padding: 16px 18px;
        font-variant-caps: all-petite-caps;
        font-family: 'StyreneAWeb-Medium';
        margin: 10px 0;
    }
}

/* ----------------------------------------- */

.fixed-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 26px;
    z-index: 10;
}

.fixed-menu a {
    border: 1px solid #E35200;
    background-color: #F5F2EB;
    padding: 5px 20px 6px 20px;
    /* border-radius: 30px; */
    color: #E35200;
    font-size: 18px;
    line-height: 1.5;
    font-variant-caps: all-petite-caps;
    font-family: 'StyreneAWeb-Medium';
}

.fixed-menu a:hover {
    text-decoration: none;
    background-color: #fff0e7;
}

.fixed-menu a:focus {
    background-color: #E35200;
    color: #F5F2EB;
    text-decoration: none;
}

@media screen and (min-width: 460px) {
    .fixed-menu {
        position: fixed;
    }

    .fixed-menu a {
        margin: 0 5px;
    }
}

@media screen and (max-width: 460px) {
    .fixed-menu {
        margin: 40px 0;
        flex-wrap: wrap;
    }

    .fixed-menu a {
        margin: 5px 5px;
    }
}

/* ----------------------------------------- */

.menu-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E35200;
}

.menu-items h1 {
    font-variant-caps: all-petite-caps;
}

.menu-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.menu-card img {
    width: 100%;
    object-fit: cover;
}

.menu-card-desc h3 {
    font-variant-caps: all-petite-caps;
    margin-bottom: 10px;
}

.menu-card-desc h4 {
    opacity: .7;
    margin-bottom: 14px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    font-family: 'StyreneAWeb-Regular';
}

.menu-card-desc p {
    font-size: 19px;
    font-family: 'StyreneAWeb-Medium';
}

.menu-card-desc span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

img.menu-img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}


@media screen and (min-width: 460px) {
    .menu-items h1 {
        font-size: 70px;
        margin: 60px 0;
    }
    
    .menu-items-cont { 
        display: grid;
        grid-template-columns: 24% 24% 24% 24%;
        gap: 40px 20px;
        margin-bottom: 60px;
    }
    
    .menu-card img {
        height: 60vh;
    }
    
    .menu-card-desc h3 {
        font-size: 27px;
    }

    .menu-card-desc h4 {
        font-size: 15px;
    }
}

@media screen and (max-width: 460px) {
    .menu-items h1 {
        font-size: 55px;
        margin: 40px 0;
    }
    
    .menu-items-cont { 
        display: grid;
        grid-template-columns: 49% 49%;
        gap: 30px 10px;
        margin-bottom: 60px;
    }

    .menu-card img {
        height: 37vh;
    }

    .menu-card-desc h3 {
        font-size: 24px;
        line-height: .85;
    }

    .menu-card-desc h4 {
        font-size: 14px;
    }
}


/* -------------------------------- CONTACT PAGE ------------------------------------------- */

.contact-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #E35200;
    width: 100%;
}

.contact-cont h2 {
    font-variant-caps: all-petite-caps;
    transform: rotate(-7deg);
}

.contact-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 9px;
}

.c-link p {
    font-size: 17px;
    font-variant-caps: all-petite-caps;
    margin-bottom: 10px;
    opacity: .6;
}

.c-link a, .c-link h4 {
    color: #E35200;
    font-size: 18.5px;
    font-family: 'StyreneAWeb-Medium';
    margin: 0;
}

.c-link a:hover {
    color: #E35200;
    opacity: .7;
}

.cont-soc img {
    width: 38px;
    margin: 5px;
}

.c-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.c-buttons a {
    font-variant-caps: all-petite-caps;
    font-family: 'StyreneAWeb-Medium';
    font-size: 22px;
}

.button-cont-left {
    border: 1px solid #E35200;
    background-color: #E35200;
    color: #F5F2EB;
    transition: .4s;
}

.button-cont-left:hover {
    border: 1px solid #f66f21;
    background-color: #f66f21;
    color: #F5F2EB;
    transition: .4s;
}

.button-cont-right {
    border: 1px solid #E35200;
    color: #E35200;
}

.button-cont-right:hover {
    border: 1px solid #E35200;
    background-color: #E35200;
    color: #F5F2EB;
}

.bottom-img-cont {
    width: 100%;
    height: 64vh;
    background-color: #00000052;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bottom-img-cont h2 {
    color: #F5F2EB;
    font-variant-caps: all-petite-caps;
    transform: rotate(-7deg);
    line-height: .75;
    margin: 0;
}

.bottom-img-cont img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}


@media screen and (min-width: 460px) {
    .contact-cont {
        padding: 140px 0 100px 0;
    }
    
    .contact-cont h2 {
        font-size: 125px;
        margin-bottom: 50px;
        text-align: center;
    }
    
    .bottom-img-cont h2 {
        font-size: 130px;
        text-align: center;
    }

    .c-buttons {
        flex-direction: row;
    }

    .c-buttons a {
        margin: 6px;
        padding: 7px 25px 11px 25px;
        text-align: center;
    }
}

@media screen and (max-width: 460px) {
    .contact-cont {
        padding: 140px 0 80px 0;
    }
    
    .contact-cont h2 {
        font-size: 70px;
        margin-bottom: 30px;
        -webkit-appearance: none;
        width: 100%;
        text-align: center;
    }
    
    .bottom-img-cont h2 {
        font-size: 70px;
        margin: 0 30px;
        text-align: center;
        -webkit-appearance: none;
        width: 100%;
    }

    .c-buttons {
        flex-direction: column;
    }

    .c-buttons a {
        margin: 8px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0 13px 0;
        min-width: 330px;
    }
}